<div id="<%= dom_id tech %>">
  <div>
    <strong>First name:</strong>
    <%= tech.first_name %>
  </div>

  <div>
    <strong>Last name:</strong>
    <%= tech.last_name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= tech.description %>
  </div>

</div>
