<% content_for :title, "Editing tech" %>

<h1>Editing tech</h1>

<%= render "form", tech: @tech %>

<br>

<div>
  <%= link_to "Show this tech", @tech %> |
  <%= link_to "Back to teches", teches_path %>
</div>
