<% content_for :title, "Editing m space" %>

<h1>Editing m space</h1>

<%= render "form", m_space: @m_space %>

<br>

<div>
  <%= link_to "Show this m space", @m_space %> |
  <%= link_to "Back to m spaces", m_spaces_path %>
</div>
