<div id="<%= dom_id person_information %>">
  <div>
    <strong>Address:</strong>
    <%= person_information.address %>
  </div>

  <div>
    <strong>Dob:</strong>
    <%= person_information.dob %>
  </div>

</div>
