<div id="<%= dom_id user_comment %>">
  <div>
    <strong>Person:</strong>
    <%= user_comment.person_id_id %>
  </div>

  <div>
    <strong>Title:</strong>
    <%= user_comment.title %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= user_comment.body %>
  </div>

</div>
