<% content_for :title, "Editing user comment" %>

<h1>Editing user comment</h1>

<%= render "form", user_comment: @user_comment %>

<br>

<div>
  <%= link_to "Show this user comment", @user_comment %> |
  <%= link_to "Back to user comments", user_comments_path %>
</div>
