<p style="color: green"><%= notice %></p>

<% content_for :title, "User comments" %>

<h1>User comments</h1>

<div id="user_comments">
  <% @user_comments.each do |user_comment| %>
    <%= render user_comment %>
    <p>
      <%= link_to "Show this user comment", user_comment %>
    </p>
  <% end %>
</div>

<%= link_to "New user comment", new_user_comment_path %>
