<div id="<%= dom_id time_entry %>">
  <div>
    <strong>People:</strong>
    <%= time_entry.people_id_id %>
  </div>

  <div>
    <strong>Action:</strong>
    <%= time_entry.action %>
  </div>

  <div>
    <strong>Time:</strong>
    <%= time_entry.time %>
  </div>

</div>
