<% content_for :title, "Editing time entry" %>

<h1>Editing time entry</h1>

<%= render "form", time_entry: @time_entry %>

<br>

<div>
  <%= link_to "Show this time entry", @time_entry %> |
  <%= link_to "Back to time entries", time_entries_path %>
</div>
