<nav class="periwinkle-nav">
    <%= link_to root_path, class: "nav-brand" do %>
        <div class="nav-bow-container">
            <div class="nav-bow">
                <div class="nav-bow-left"></div>
                <div class="nav-bow-right"></div>
                <div class="nav-bow-center"></div>
            </div>
        </div>
        <span class="nav-brand-text">periwinkle-octipi.com</span>
        <% end %>

            <ul class="nav-links">
                <li>
                    <%= link_to 'Home' , root_path, class: 'nav-link' %>
                </li>
            </ul>
</nav>